{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}   
    {% image page.image original as image %}
    <div class="container-fluid hero" style="background-image:url('{{ image.url }}')">
        <div class="hero-gradient-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 home-hero">
                    <h1>{{ page.title }}</h1>
                        <p class="lead">{{ page.hero_text }}</p>
                    
                    {% if page.hero_cta %}
                        {% if page.hero_cta_link %}
                            <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link hvr-icon-forward">
                                {{ page.hero_cta }}
                            </a>
                        {% else %}
                            {{ page.hero_cta }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="about-section" style="background-color:{{page.about_bg_color}}">
    <!-- FIRST ABOUT US SECTION -->
        {% for block in self.about_us %}
            <!-- Three Columns - About Us  -->
            <div class="container" >
                {% if block.block_type == 'three_columns' %} 
                    
                    <div class="row">
                        <div class="col-md-4">
                            {% include "base/include/three_columns.html" with blocks=block.value.left_column %}
                        </div>
                
                        <div class="col-md-4">
                            {% include "base/include/three_columns.html" with blocks=block.value.middle_column %}
                        </div>
                
                        <div class="col-md-4">
                            {% include "base/include/three_columns.html" with blocks=block.value.right_column %}
                        </div>
                    </div>

                <!-- Heading - About Us  -->
                {% elif block.block_type == 'heading' %}
                    <h2 class="about-heading" style="color:{{page.about_font_color}}"> {{block.value}} </h2>
            

                <!-- Image - About Us  -->
                {% elif block.block_type == 'image' %}
                    {% image block.value fill-1920x600 class='img-responsive' %}

                <!-- Paragraph - About Us  -->
                {% else %}
                    <p style="color:{{page.about_font_color}}"> {{block.value}} </p>
                
                {%endif%}
            </div>
        {%endfor%}
    </div>

    {% image page.another_image original as image %}
    <div class="container-fluid hero" style="background-image:url('{{ image.url }}')">
        <div class="hero-gradient-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 home-hero">
                    <h1>{{ page.another_img_text }}</h1>
                    
                    {% if page.another_img_cta %}
                        {% if page.another_img_cta_link %}
                            <a href="{% pageurl page.another_img_cta_link %}" class="hero-cta-link hvr-icon-forward">
                                {{ page.another_img_cta }}
                            </a>
                        {% else %}
                            {{ page.another_img_cta }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}