{% load wagtailcore_tags wagtailimages_tags image_tags %}

{% if blocks %}
 
    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            {% define block.value as img_heading %}
        {% elif block.block_type == 'image' %}
            <div class="fx3">
                <a href="#">
                    <div class="item img-container">
                        {% image block.value fill-320x260 class="transition img-responsive" %}
                        <h4>{{img_heading}}</h4>
                        <!-- <p>Description</p> -->
                    </div>
                </a>
            </div>
        {% else %}
            <section>
                {{ block }}
            </section>
        {% endif %}
    {% endfor %}
 
{% endif %}